:root {
  --color: rgb(0, 0, 0);
  --background1: rgb(29,30,30);
}

body {
  height: 100vh;
  border-width: 7px;
  background: var(--background1);
  display: flex!important;
  justify-content: center!important;
  align-items: center!important;
  text-align: center;
  animation: bg-anim 30s ease infinite;
  color: var(--color);
  background-image: url("46f0158322e317a622a477c4cd85d368.png");
  background-repeat: no-repeat; /* Prevent the background image from tiling */
  background-size: cover; /* Ensure the background image covers the entire background */
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
}

.container {
  position: relative;
  width: auto;
}

.image {
  display: block;
  width: auto;
  height: auto;
  margin: 0 auto;
}

.image2 {
  display: block;
  width: auto;
  height: auto;
  margin: 0 auto 
}

.overlay {
  position: absolute;
  bottom: auto;
  left: 0 auto;
  right: 0 auto;
  background-color: #008CBA;
  overflow: hidden;
  width: auto;
  height: auto;
  transition: .5s ease;
}

.container:hover .overlay {
  bottom: auto;
  height: auto;
}

.text {
  white-space: nowrap; 
  color: white;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  font-size: 112%;
  font-family: "Roboto", "Montserrat", sans-serif;
}

div.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 5px;
  background-color: #b214d1;
  border: 2px solid rgb(0, 0, 0);
  font-family: "Roboto", "Montserrat", sans-serif;
}

.ins {
  font-family: "Roboto", "Montserrat", sans-serif;
  color: white
}


